# --- Environnement et Sécurité ---
.env
.env.local
.env.*.local

# --- Dépendances ---
**/node_modules/
**/.pub-cache/
**/.dart_tool/

# --- IDE (JetBrains / VS Code) ---
.idea/
.vscode/
*.swp
*.iml

# --- Flutter / Mobile ---
**/build/
.flutter-plugins
.flutter-plugins-dependencies
**/ios/.generated/
**/android/.gradle/
**/*.xcworkspace

# --- Système et Divers ---
.DS_Store
Thumbs.db
**/logs/*.log
**/temp/*